.footer {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    padding: 20px 50px;
    margin-top: 30px;
    background-color: #000;
    color: white;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-box {
    flex: 1 1 18%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-box h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-box li {
    margin-bottom: 8px;
}

.footer-box a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-box a:hover {
    color: #ddd;
}


.footer-box:last-child {
    justify-content: space-between; 
    margin-top: auto; 
}


@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: flex-start; 
        padding: 20px;
    }

    .footer-box {
        flex: 1 1 100%; 
        margin: 10px 0;
    }

    .footer-box:last-child {
        align-self: stretch;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .footer-box h3 {
        font-size: 1rem; 
    }

    .footer-box li {
        margin-bottom: 5px;
    }
}
